@import 'materialize';
@import 'ember-cli-materialize';

// Brand image - found in the toolbar
.logo-image{
  width:35px;
  border: 1px solid black;
  border-radius: 50%;
  padding: 3px;
  margin-right: 8px;
}

.brand-logo{
  margin-left: 5px;
  margin-right: 5px;
}




// GENERAL RULES

.bottom-marg{
  margin-bottom: 8px;
}

.bottom-pad{
  padding-bottom: 8px;
}
