@import 'materialize';
@import 'ember-cli-materialize';

// Brand image - found in the toolbar
.logo-image{
  width:35px;
  border: 1px solid black;
  border-radius: 50%;
  padding: 3px;
  margin-right: 8px;
}

.brand-logo{
  margin-left: 5px;
  margin-right: 5px;
}


// ANIMATIONS

.anim-slow{
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
}

.anim-normal{
  -moz-animation-duration: 0.4s;
  -o-animation-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  -ms-animation-duration: 0.4s;
  animation-duration: 0.4s;
}

.anim-fast{
  -moz-animation-duration: 0.2s;
  -o-animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  -ms-animation-duration: 0.2s;
  animation-duration: 0.2s;
}




// GENERAL RULES

.bottom-marg{
  margin-bottom: 8px;
}

.bottom-pad{
  padding-bottom: 8px;
}

.full-width{
  width:100%;
}


.no-page-found{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('/assets/img/404/bg.png');
}

.no-page-label{
  background-image: url('/assets/img/404/label.png');
  z-index: 1000;
  position: relative;
  width:260px;
  height: 220px;
}
