<div class="page dashboard-main">

  <!-- Fila 1 -->

  <div class="row" style="padding: 0; margin:0">

    <div class="dash-block-top blue center-align">
        Resumen primera vista
    </div>

  </div>


  <!-- Fila 2 -->
  <div class="row" style="padding: 0; margin:0">

    <div class="col s6 dash-block blue lighten-1 center-align">
      Informes
    </div>

    <div class="col s6 dash-block blue lighten-2 center-align">
      Buscar
    </div>

  </div>

  <!-- Fila 3 -->
  <div class="row" style="padding: 0; margin:0">

    <div class="col s6 dash-block blue darken-2 center-align">
      Configuración
    </div>

    <div class="col s6 dash-block blue darken-1 center-align">
      Calculadora
    </div>

  </div>

  {{#link-to 'user.gastos.nuevo'}}
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red darken-1">
      <i class="large material-icons">add</i>
    </a>
  </div>
  {{/link-to}}

</div>
