<div class="row">
  <div class="col s12 offset-m6 m6 l4 offset-l8">
    <h5>Users currently online</h5>
      {{#each onlineUsers as |user|}}
        <div class="chip white-text blue lighten-2 right">
          <img src="{{user.img}}" alt="{{user.name}}">
        {{user.name}}
        </div>
        <br>
        <br>
      {{/each}}
  </div>
</div>
