
<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col s8 offset-s2 m4 offset-m4 center-align">
      <img src="/assets/loaders/382.GIF" height="100" width="100">
      <br>
      <br>
      <br>
      <h4 class="thin"><i>LOADING ...</i></h4>
    </div>
  </div>
</div>
