<div class="container">

  <br>
  <br>

  <div class="row">

    <div class="col s6 center-align">
      {{t 'login.required'}}:
      <br>
      <br>
        <a class="waves-effect waves-light btn-large valign-wrapper full-width blue lighten-1" {{action "signIn" "github"}}>
          <img src="assets/img/social/git.png" alt="github"  height="50px" class="left"/>
          <span>Login with Github</span>
        </a>
      <br>
      <br>
        <a class="waves-effect waves-light btn-large valign-wrapper full-width blue lighten-1" {{action "signIn" "facebook"}}>
          <img src="assets/img/social/face.png" alt="github"  height="50px" class="left"/>
          <span>Login with Facebook</span>
        </a>
    </div>

    <div class="col s6 center-align">
        Login forms
    </div>

  </div>

</div>
