<div class="no-page-found center-align">
  <div class="no-page-label">

  </div>

  <img src="assets/img/404/woody-404.png" alt="Page not found!" class="responsive-img" />
  <div class="veil">

  </div>
</div>
